<!doctype html>
<!--suppress CheckImageSize -->
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Présentation Angular</title>

    <meta name="description" content="Exploring the GitHub Service Universe">
    <meta name="author" content="Bjoern Kimminich">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">
    <link rel="stylesheet" href="css/custom.css">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'css/print/pdf.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        }
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <img src="assets/logos/angular.png" class="heart" width="200" style="background: none; border:none; box-shadow:none;"/>

            <h1>Angular</h1>
            <p>
                <small>Présenté par: <a href="http://houdass.com">Youness Houdass</a></small>
            </p>
            <p>
                <a href="http://angular.io/">http://angular.io/</a>
            </p>
        </section>
        <section>
            <section>
                <h2>1. Qu'est ce que angular?</h2>
                <img src="assets/angular/5.gif" width="500"/>
            </section>
            <section>
                <p>Angular est une plateforme de développement qui permet de créer des applications clientes web, il est aussi utilisé pour la création d’application mobile, notamment avec Ionic.</p>
            </section>
            <section>
                <p>Angular permet de créer des applications SPA (single page application).</p>
            </section>
            <section>
                <p>Le terme AngularJS désigne la version 1.x.x du framework, et les versions supérieures ou égale à 2 sont nommées simplement Angular.</p>
            </section>
            <section>
                <p>Si vous connaissez AngularJS (Angular 1.x), vous pensez peut-être qu’Angular est une upgrade d’AngularJS. En réalité, Angular a été totalement réécrit par Google, ce qui en fait un nouveau framework à part entière, avec une philosophie et des concepts propres à lui.</p>
                <img src="assets/angular/1.gif" width="500"/>
            </section>
            <section>
                <h4>
                    Au travers d’Angular, Google cherche à faire table rase du passé, en remettant à plat de nombreux concepts présents dans AngularJS.
                </h4>
                <!-- http://blog.xebia.fr/2015/12/14/angular-2-presentation/ -->
                <!-- https://www.supinfo.com/articles/single/6184-presentation-univers-angular -->
                <p>
                    Cette stratégie a été motivée par 4 principes fondateurs :
                    <ul>
                        <li>Augmenter les performances</li>
                        <li>Améliorer la productivité</li>
                        <li>S’adapter au mobile</li>
                        <li>Embrasser les nouveaux standards du Web</li>
                    </ul>
                </p>
            </section>
            <section>
                <h3>Un peu d'histoire</h3>
                <ul>
                    <li>Angular 2: 14 September 2016</li>
                    <li>Angular 4: 23 Mars 2017 (Pas de version 3, car toutes les bibliothèques Angular de base étaient toutes à la version v2.3.0, sauf le paquet @angular/router qui était à la v3.3.0)</li>
                    <li>Angular 5: 1 November 2017</li>
                    <li>Angular 6: 4 Avril 2018</li>
                </ul>
                <img src="assets/angular/2.png" width="400"/>
            </section>
            <section>
                <h3>Avantages</h3>
                <ul>
                    <li>Des performances améliorées</li>
                    <li>Une modularité accrue / du code plus expressif</li>
                    <li>Un respect des nouveaux standards du web</li>
                </ul>
            </section>
        </section>

        <section>
            <section>
                <h2>2. Angular CLI</h2>
            </section>
            <section>
                <img src="assets/angular/6.svg" width="400" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    "The CLI is a geart tool for big and very big Angular projects! It allows to focus on Angular code instead of workflow tasks."
                </p>
                <p>
                    Google nous propose un outil clé en main pour réaliser les tâches de développement les plus courantes. Ce projet est basé sur le projet Open Source ember CLI, qui a maintenant plus de trois ans. Grâce à notre Angular Cli, il est possible de :
                <ul>
                    <li>Créer une application from scratch via un scaffolding</li>
                    <li>Générer des component|directive|pipe|service|class|guard|interface|enum|module</li>
                    <li>Builder un projet</li>
                    <li>Lancer des tests de End-to-End (E2E) ou unitaires</li>
                    <li>Et beaucoup d'autres choses…</li>
                </ul>
                </p>
            </section>
        </section>
        <section>
            <h2>3. Setup du projet via Angular CLI</h2>
            <p>
                <ul>
                    <li>npm i -g @angular/cli</li>
                    <li>ng new my-dream-app</li>
                    <li>ng new my-dream-app --style=less|scss</li>
                    <li>cd my-dream-app</li>
                    <li>ng serve</li>
                </ul>
            </p>
        </section>

        <section>
            <h2>4. Ajouter bootstrap au projet</h2>
            <p>
            <ul>
                <li>npm i -S bootstrap@3.3.7</li>
                <li>Ouvrir le fichier .angular-cli.json</li>
            <li>Au niveau du noeud <strong>styles</strong> ajouter : <span style="color: #6cc644;">../node_modules/bootstrap/dist/css/bootstrap.min.css</span></li>
            </ul>
            </p>
        </section>

        <section>
            <section>
                <h2>5. Les selectors (composants)</h2>
            </section>

            <section>
                <p>
                <ul>
                    <li>
                        selector: 'app-users'
                        <xmp style="color: #6cc644;"><app-users></app-users></xmp>
                    </li>
                    <li>
                        selector: '.app-users'
                        <xmp style="color: #6cc644;"><div class="app-users"></div></xmp>
                    </li>
                    <li>
                        selector: '[app-users]'
                        <xmp style="color: #6cc644;"><div app-users></div></xmp>
                    </li>
                </ul>
                </p>
            </section>
        </section>

        <section>
            <section>
                <h2>6. Databinding</h2>
                <img src="assets/angular/3.gif" width="400" style="background: none; border:none; box-shadow:none;"/>
            </section>
            <section>
                <p>
                <ul>
                    <li>
                        <span style="color: #6cc644;">String interpolation</span> {{ data }}
                    </li>
                    <li>
                        <span style="color: #6cc644;">Property binding</span> [property]="data" or bind-property="data", par exemple: <xmp><button [disabled]="isDisabled"> ...</button></xmp>
                    </li>
                    <li>
                        <span style="color: #6cc644;">Event Binding </span> (event)="callback()" or on-click="callback()", par exemple: <xmp><button (click)="onClick()"></button></xmp>
                    </li>
                    <li>
                        <span style="color: #6cc644;">Two-way binding </span> (Banana in the box) [(data)]
                    </li>
                </ul>
                </p>
            </section>
        </section>

        <section>
            <h2>*ngIf / else condition</h2>
            <ul>
                <li><xmp style="color: #6cc644;"><p *ngIf="isVisible; else noCondition">This is true</p></xmp></li>
                <li><xmp style="color: #6cc644;"><ng-template #noCondition><p>This is false<p></ng-template></xmp></li>
            </ul>
        </section>
        <section>
            <h2>*ngFor / index</h2>
            <ul>
                <li><xmp style="color: #6cc644;"><p *ngFor="let item of items; let i = index">{{i}} - {{item.name}}</p></xmp></li>
                <li>Or, <xmp style="color: #6cc644;"><p *ngFor="let item of items; index as i">{{i}} - {{item.name}}</p></xmp></li>
            </ul>
        </section>
        <section>
            <h2>Encapsulation</h2>
            <ul>
                <li>
                    <span style="color: #6cc644;">encapsulation: ViewEncapsulation.Emulated</span> Pas de shadow DOM, mais une émulation du Shadow DOM. C'est le comportement par défaut.
                </li>
                <li>
                    <span style="color: #6cc644;">encapsulation: ViewEncapsulation.Native </span> Utilisation du véritable shadow DOM. Superbe sur Chrome, mais cela s'arrête là pour le moment. Ni Safari, ni Firefox ne supporte ce mécanisme.
                </li>
                <li>
                    <span style="color: #6cc644;">encapsulation: ViewEncapsulation.None </span> Ni shadow DOM, ni aucun mécanisme d'encapsulation de style CSS.
                </li>
            </ul>
        </section>
        <section>
            <h2>Input/Output</h2>
            <ul>
                <li>
                    <span style="color: #6cc644;">@Input</span>
                </li>
                <li>
                    <span style="color: #6cc644;">@Output</span>
                </li>
                <li>
                    Quand @Input se charge de recevoir une valeur, @Output se charge, lui, d'envoyer une donnée.
                </li>
            </ul>
            <img src="assets/angular/7.png" width="400" style="background: none; border:none; box-shadow:none;"/>
        </section>

        <section>
            <h2>Template reference variables</h2>
            <p>Les variables référence de template (ou template reference variables) permettent d’accéder à un élément DOM ou un composant Angular via une variable déclarée directement sur la balise de cet élément ou de ce composant avec la syntaxe #var ou ref-var.</p>
        </section>
        <section>
            <section>
                <h2>Hooks (Le cycle de vie d’un Component)</h2>
                <p>Pour ceux qui ne connaissent pas le terme de cycle de vie, il s'agit simplement de la définition de toutes les étapes de la naissance du Component à sa mort.</p>
                <img src="assets/angular/8.png" width="300" style="background: none; border:none; box-shadow:none;"/>
            </section>
            <section>
                <h3>ngOnChanges</h3>
                <p>
                    Se lance lorsqu'Angular modifie une des propriétés du Component / directive suite à un Property Binding <span style="color: #6cc644;">@Input</span>. La méthode reçoit un object SimpleChanges contenant les valeurs courantes et précédentes.

                    Il est lancé avant <span style="color: #6cc644;">ngOnInit</span> et à chaque fois qu'une ou plusieurs propriétés précédées de <span style="color: #6cc644;">@Input</span> change.
                </p>
            </section>
            <section>
                <h3>ngOnInit</h3>
                <p>Initialise le component / directive après qu'Angular ait valorisé les Property Binding <span style="color: #6cc644;">@Input</span>. Il n'est lancé qu'une seule fois après le premier .
                </p>
            </section>
            <section>
                <h3>ngDoCheck</h3>
                <p>Détecte et agit sur les changements qu'Angular ne peut ou ne pourra pas détecter lui même. Il permet, en outre, de vérifier les changements dans les directives additionnelement aux algorithmes classiques. Il est appelé immédiatement après <span style="color: #6cc644;">ngOnChanges</span> et <span style="color: #6cc644;">ngOnInit</span>.</p>
            </section>
            <section>
                <h3>ngAfterContentInit</h3>
                <p>Il se lance également après l'initialisation d'un Content (ng-content). A partir de ce moment, les propriétés initialisées par <span style="color: #6cc644;">@ContentChild</span> et <span style="color: #6cc644;">@ContentChildren</span> sont valorisées.

                    Il n' est appelé qu'une fois après le premier <span style="color: #6cc644;">ngDoCheck</span>. </p>
            </section>
            <section>
                <h3>ngAfterContentChecked</h3>
                <p>Se lance après le check du Content.</p>
            </section>
            <section>
                <h3>ngAfterViewInit</h3>
                <p>Se lance après qu'Angular initialise la vue (template) du Component et les vues enfants. A partir de ce moment, les propriétés initialisées <span style="color: #6cc644;">@ViewChild</span> et <span style="color: #6cc644;">@ViewChildren</span> sont valorisées

                    Il n'est appelé qu'une seule fois après <span style="color: #6cc644;">ngAfterContentChecked</span>.</p>
            </section>
            <section>
                <h3>ngAfterViewChecked</h3>
                <p>Se lance après le check de la vue (template)</p>
            </section>
            <section>
                <h3>ngOnDestroy</h3>
                <p>Se lance juste avant qu'Angular ne détruise le Component / directive. C'est l'endroit idéal pour desinscrire les Observables et détacher les évènements afin d'éviter les fuites mémoires.

                    Il est appelé qu'une seule fois avant la destruction du Component / directive.</p>
            </section>
        </section>
        <section>
            <section>
                <h3>Directives</h3>
                <p>
                    Les Components sont des directives à la seule différence qu'ils possèdent une fonctionnalité de templating. En TypeScript, une directive est une classe à laquelle on applique le décorateur <span style="color: #6cc644;">@Directive</span>.
                </p>
            </section>
            <section>
                <p>Il existe deux sortes de directives :</p>
                <p>Les directives structurelles : Elles ont pour but de modifier le DOM en ajoutant, enlevant ou replaçant un élément du DOM.
                        Les attribute directives : Elles ont pour but de modifier l'apparence ou le comportement d'un élément.</p>

            </section>
            <section>
                <h3>ElementRef</h3>
                <p>
                    <ul>
                        <li><p appBasicHighlight>App Basic Highlight Example</p></li>
                        <li><pre>constructor(private elementRef: ElementRef) {}</pre></li>
                        <li><pre>ngOnInit() { this.elementRef.nativeElement.style.backgroundColor = 'green'; }</pre></li>
                    </ul>
                </p>
            </section>
            <section>
                <h3>Renderer</h3>
                <ul>
                    <li><pre>constructor(private elRef: ElementRef, private renderer: Renderer2) {}</pre></li>
                    <li><pre>ngOnInit() { this.renderer.setStyle(this.elRef.nativeElement, 'backgroundColor', 'blue'); }</pre></li>
                </ul>
            </section>
            <section>
                <h3>@HostBinding</h3>
                <ul>
                    <li><pre>@HostBinding('style.backgroundColor') backgroundColor;</pre></li>
                    <li><pre>ngOnInit() { this.backgroundColor = 'blue'; }</pre></li>
                </ul>
                </ul>
            </section>
            <section>
                <h3>@HostListener</h3>
                <pre>@HostListener('mouseenter') mouseenter(eventData: Event) { this.backgroundColor = this.highlightColor; }</pre>
            </section>
            <section>
                <h3>@Input</h3>
                <ul>
                    <li>@Input() highlightColor = 'transparent';</li>
                    <li><xmp style="color: #6cc644;"><p appBetterHighlight [highlightColor]="'blue'">Highlight Directive</p></xmp></li>
                    <li>ou bien, <xmp style="color: #6cc644;"><p appBetterHighlight highlightColor="blue">Highlight Directive</p></xmp></li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <h2>Services</h2>
                <p>
                   "Components shouldn't fetch or save data directly and they certainly shouldn't knowingly present fake data. They should focus on presenting data and delegate data access to a service."
                </p>
            </section>
            <section>
                <h3>@Injectable</h3>
                <p>@Injectable() lets Angular know that a class can be used with the dependency injector.</p>
            </section>
            <section>
                <h3>Providers</h3>
            </section>
            <section>
                <h3>@Inject</h3>
                <p>@Inject() is a manual mechanism for letting Angular know that a parameter must be injected.</p>
            </section>
        </section>


        <section>
            <section>
                <h2>ngStore</h2>
                <p>
                    RxJS powered state management for Angular applications, inspired by Redux.
                </p>
            </section>
            <section>
                <h2>Implementations</h2>
                <ul>
                    <li>@ngrx/store</li>
                    <li>ng2-redux</li>
                    <li>@angular-redux/store...</li>
                </ul>
            </section>
            <section>
                <h3>npm i -S @ngrx/store</h3>
            </section>
            <section>
                <h3>npm i -S @ngrx/store-devtools</h3>
                <p>@ngrx/store-devtools instruments your store letting you use a powerful time-travelling debugger.</p>
            </section>
            <section>
                <h3>npm i -S @ngrx/entity</h3>
                <p>@ngrx/entity provides an API to manipulate and query entity collections.</p>
            </section>
            <section>
                <h3>npm i -S @ngrx/router-store</h3>
                <p>Keeps the state of @angular/router in your store.</p>
            </section>
            <section>
                <h3>npm i -S @ngrx/effects</h3>
                <p>Isolates side effects from your UI by expressing side effects as sources of actions.</p>
            </section>
            <section>
                <h3>Actions</h3>
                <p>Actions describe state changes.</p>
            </section>
            <section>
                <h3>Reducers</h3>
                <p>Pure functions called reducers take the previous state and the next action to compute the new state.</p>
                <p>Reducers specify how the application's state changes in response to actions sent to the store.</p>
                <p>Remember that actions only describe what happened, but don't describe how the application's state changes.</p>
            </section>
            <section>
                <h3>NgRx Schematics</h3>
                <ul>
                    <li>ng config cli.defaultCollection @ngrx/schematics</li>
                    <li>npm i -D @ngrx/schematics</li>
                    <li>ng generate entity --name User --module somewhere/somewhere.module.ts</li>
                    <li>https://github.com/ngrx/platform/tree/master/docs/</li>
                </ul>
            </section>
            <section>
                <h3>Dependencies</h3>
                <p>npm i @ngrx/{store,effects,entity,store-devtools} -S</p>
            </section>
        </section>
        <section>
            <section>
                <h3>Coveralls</h3>
                <p>
                    Works with continuous integration servers to provide test coverage history and statistics.
                </p>
                <img src="assets/logos/coveralls.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://coveralls.io/">https://coveralls.io/</a>
                </p>
            </section>
            <section>
                <h3>Coveralls repository dashboard</h3>
                <img src="assets/screenshots/coveralls02.png"/>
            </section>
            <section>
                <h3>Coverage of latest builds of a repo</h3>
                <img src="assets/screenshots/coveralls03.png"/>
            </section>
            <section>
                <h3>Coverage per file for specific build</h3>
                <img src="assets/screenshots/coveralls04.png"/>
            </section>
            <section>
                <h3>Drilldown into file coverage</h3>
                <img src="assets/screenshots/coveralls05.png"/>
            </section>
            <section>
                <h3>Integration into PR overview screen</h3>
                <img src="assets/screenshots/coveralls08.png"/>
            </section>
            <section>
                <h3>Passing test results to Coveralls</h3>
                <img src="assets/screenshots/coveralls01.png"/>
            </section>
            <section>
                <h3>Setup NMA email* on any coverage drop</h3>
                <img src="assets/screenshots/coveralls06.png"/>
                <p>
                    <small>For each new API key <a href="http://www.notifymyandroid.com/nmamail.jsp">NMA automatically creates an email address</a> <code>apikey@nmamail.net</code> that can be used for custom notifications.</small>
                </p>
            </section>
            <section>
                <h3>Notification on a (<a href="https://github.com/bkimminich/kata-tcg/commit/b2213b083457c6f7ea4e2fa2034fdc504390555b">forged</a>) coverage drop</h3>
                <img src="assets/screenshots/coveralls07.png"/>
            </section>
        </section>
<!--
        <section>
            <section>
                <h3>Coverity</h3>
                <p>
                    Provides software quality and security testing solutions.
                </p>
                <img src="assets/logos/Coverity-Logo.jpg" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="http://www.coverity.com/">http://www.coverity.com/</a>
                </p>
            </section>
            <section>
                <h3>Coverity's Analysis Dashboard</h3>
                <img src="assets/screenshots/coverity03.png"/>
            </section>
            <section>
                <h3>Details on a specific issue</h3>
                <img src="assets/screenshots/coverity02.png"/>
            </section>
            <section>
                <h3>Coverity scan setup on a separate branch</h3>
                <img src="assets/screenshots/coverity01.png"/>
                <p>
                    <small>Coverity <a href="https://scan.coverity.com/faq#frequency">limits the build submission frequency</a> to 1-3 builds/day (and 2-12 builds/week) depending the project's LOC.</small>
                </p>
            </section>
        </section>
-->
        <section>
            <section>
                <h3>Codeclimate</h3>
                <p>
                    Automated code review for Ruby, JS, and PHP providing feedback on code quality and test coverage.
                </p>
                <img src="assets/logos/codeclimate.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://codeclimate.com/">https://codeclimate.com/</a>
                </p>
            </section>
            <section>
                <h3>Quality overview in Codeclimate Feed</h3>
                <img src="assets/screenshots/codeclimate01.png"/>
            </section>
            <section>
                <h3>Quality metrics and test coverage per file</h3>
                <img src="assets/screenshots/codeclimate02.png"/>
            </section>
            <section>
                <h3>Code smells identified by Codeclimate</h3>
                <img src="assets/screenshots/codeclimate03.png"/>
            </section>
            <section>
                <h3>Coverage details show a missed function</h3>
                <img src="assets/screenshots/codeclimate05.png"/>
            </section>
            <section>
                <h3>Send merged <a href="http://ltp.sourceforge.net/coverage/lcov.php">LCOV</a> data to Codeclimate</h3>
                <img src="assets/screenshots/codeclimate06.png"/>
            </section>
            <section>
                <h3>Automatically open issues for code smells</h3>
                <img src="assets/screenshots/codeclimate07.png"/>
            </section>
            <section>
                <h3>Refactoring issue created by Codeclimate</h3>
                <img src="assets/screenshots/codeclimate08.png"/>
            </section>
        </section>

        <section>
            <h2>Dependency Management</h2>
            <img src="assets/octocats/momtocat.png" width="400" style="background: rgba(255, 255, 255, 1)"/>
        </section>
        <section>
            <section>
                <h3>Versioneye</h3>
                <p>
                    Notification System for Software Libraries showing outdated dependencies in different supported project files.
                </p>
                <img src="assets/logos/versioneye.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://www.versioneye.com/">https://www.versioneye.com/</a>
                </p>
            </section>
            <section>
                <h3>Versioneye Project Overview</h3>
                <img src="assets/screenshots/versioneye01.png"/>
                <p>
                    <small>Supported Languages: Java - Ruby - Python - PHP - Node.js - JS - Objective-C - Clojure - CSS - R</small>
                </p>
            </section>
            <section>
                <h3>Dependency details on project level</h3>
                <img src="assets/screenshots/versioneye02.png"/>
            </section>
            <section>
                <h3>Graph with all indirect dependencies</h3>
                <img src="assets/screenshots/versioneye03.png"/>
                <p>
                    <small><a href="https://www.versioneye.com/user/projects/544a3040c310f96cf00000fa/visual">This graph</a> shows all the dependencies brought into the JS implementation of kata-tcg by the used testing libraries!</small>
                </p>
            </section>
        </section>
        <section>
            <section>
                <h3>Gemnasium</h3>
                <p>
                    Monitoring of project dependencies and alerts for updates and security vulnerabilities.
                </p>
                <img src="assets/logos/gemnasium_logo-big.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://gemnasium.com/">https://gemnasium.com/</a>
                </p>
            </section>
            <section>
                <h3>Dependency status overview for all repos</h3>
                <img src="assets/screenshots/gemnasium01.png"/>
            </section>
            <section>
                <h3>Outdated Jasmine test dependencies</h3>
                <img src="assets/screenshots/gemnasium02.png"/>
            </section>
            <section>
                <h3>Email with security alert</h3>
                <img src="assets/screenshots/gemnasium03.png"/>
            </section>
        </section>
<!--
        <section>
            <section>
                <h3>David-DM</h3>
                <p>
                    Watching your <a href="http://nodejs.org/">Node</a> dependencies.
                </p>
                <img src="assets/logos/david.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://david-dm.org/">https://david-dm.org/</a>
                </p>
            </section>
            <section>
                <h3>Automatically discovered Node.js projects</h3>
                <img src="assets/screenshots/daviddm01.png"/>
                <p>
                    <small>Unfortunately David-DM (v9.0.0) can only discover Node.js projects with a <code>package.json</code> in the repository root folder.</small>
                </p>
            </section>
            <section>
                <h3>Dependency status with security advisory</h3>
                <img src="assets/screenshots/daviddm02.png"/>
                <p>
                    <small>A module without security warnings might still contain undiscovered vulnerabilities! On the other hand proven vulnerabilities of a module might be irrelevant in the context it is used in.</small>
                </p>
            </section>
            <section>
                <h3>Security vulnerability details</h3>
                <img src="assets/screenshots/daviddm03.png"/>
                <p>
                    <small>David-DM cooperates with <a href="https://nodesecurity.io">Node Security Project</a> to determine and link to vulnerabilities.</small>
                </p>
            </section>
        </section>
-->

        <section>
            <h2>Continuous Deployment</h2>
            <img src="assets/octocats/constructocat2.jpg" width="400" style="background: rgba(255, 255, 255, 1)"/>
        </section>
        <section>
            <section>
                <h3>Heroku</h3>
                <p>
                    Build and Run Your Apps, Your Way.
                </p>
                <img src="assets/logos/logotype-heroku.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://www.heroku.com/">https://www.heroku.com/</a>
                </p>
            </section>
            <section>
                <h3><a href="https://juice-shop.herokuapp.com">Heroku instance</a> of Juice Shop</h3>
                <img src="assets/screenshots/heroku01.png"/>
                <p>
                    <small>Heroku <a href="https://devcenter.heroku.com/articles/usage-and-billing#750-free-dyno-hours-per-app">offers a free small instance per personal application</a>.</small>
                </p>
            </section>
            <section>
                <h3>Application status dashboard</h3>
                <img src="assets/screenshots/heroku02.png"/>
                <p>
                    <small>Heroku supports Ruby, Node.js, Python, Java, and PHP.</small>
                </p>
            </section>
            <section>
                <h3>Application deployment history</h3>
                <img src="assets/screenshots/heroku03.png"/>
            </section>
            <section>
                <h3>Setting up deployment in <code>.travis.yml</code></h3>
                <img src="assets/screenshots/heroku04.png"/>
                <p>
                    <small>By default only a successful build of the <code>master</code> branch triggers a deployment.</small>
                </p>
            </section>
        </section>
        <section>
            <section>
                <h3>Docker</h3>
                <p>
                    Open platform for distributed applications for developers and sysadmins.
                </p>
                <img src="assets/logos/docker.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://docker.com/">https://docker.com/</a>
                </p>
            </section>
            <section>
                <h3>Autobuild Repository on <a href="https://hub.docker.com/">Docker Hub</a></h3>
                <img src="assets/screenshots/docker01.png"/>
            </section>
            <section>
                <h3>Activated Docker Service Hook on GitHub</h3>
                <img src="assets/screenshots/docker02.png"/>
            </section>
            <section>
                <h3>The <code>Dockerfile</code> of Juice Shop</h3>
                <img src="assets/screenshots/docker03.png"/>
            </section>
        </section>

        <section>
            <h2>Collaboration</h2>
            <img src="assets/octocats/collabocats.jpg" width="400" style="background: rgba(255, 255, 255, 1)"/>
        </section>
        <section>
            <section>
                <h3>HuBoard</h3>
                <p>
                    Lightweight Kanban Board offering instant project management for GitHub issues.
                </p>
                <img src="assets/logos/HuBoardSplash.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://huboard.com/">https://huboard.com/</a>
                </p>
            </section>
            <section>
                <h3>Kanban Board based on GitHub issues</h3>
                <img src="assets/screenshots/huboard01.png"/>
            </section>
            <section>
                <h3>DnD for priorization and process flow</h3>
                <img src="assets/screenshots/huboard02.png"/>
            </section>
            <section>
                <h3>Simple creation and tagging of story cards</h3>
                <img src="assets/screenshots/huboard03.png"/>
            </section>
            <section>
                <h3>Authorizing access to GitHub repos</h3>
                <img src="assets/screenshots/huboard06.png"/>
            </section>
            <section>
                <h3>Let HuBoard setup the GitHub integration</h3>
                <img src="assets/screenshots/huboard07.png"/>
            </section>
            <section>
                <h3>Service Hook generated by HuBoard</h3>
                <img src="assets/screenshots/huboard05.png"/>
            </section>
        </section>
        <section>
            <section>
                <h3>Bountysource</h3>
                <p>
                    Funding platform for open-source software where users can create/collect bounties and pledge to fundraisers.
                </p>
                <img src="assets/logos/Bountysource-square-100.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://www.bountysource.com/">https://www.bountysource.com/</a>
                </p>
            </section>
            <section>
                <h3>Overview of issues to place bounties on</h3>
                <img src="assets/screenshots/bountysource01.png"/>
            </section>
            <section>
                <h3>Picking <a href="https://www.bountysource.com/issues/7953454-new-logo-for-juice-shop">an issue</a> to place a bounty on</h3>
                <img src="assets/screenshots/bountysource02.png"/>
            </section>
            <section>
                <h3>Placing a 10$ bounty for a new logo</h3>
                <img src="assets/screenshots/bountysource03.png"/>
            </section>
            <section>
                <h3>The new bounty in the Activity feed</h3>
                <img src="assets/screenshots/bountysource05.png"/>
            </section>
            <section>
                <h3>Issue augmented with bounty information</h3>
                <img src="assets/screenshots/bountysource06.png"/>
            </section>
            <section>
                <h3>Developer starting to work on issue</h3>
                <img src="assets/screenshots/bountysource07.png"/>
            </section>
            <section>
                <h3>Developer claims bounty for closed issue</h3>
                <img src="assets/screenshots/bountysource08.png"/>
            </section>
            <section>
                <h3>Approved and paid bounty for <a href="https://raw.githubusercontent.com/bkimminich/juice-shop/master/app/public/images/JuiceShop_Logo.png">new logo</a></h3>
                <img src="assets/screenshots/bountysource09.png"/>
            </section>
        </section>
        <section>
            <section>
                <h3>Gitter</h3>
                <p>
                    Chat. For GitHub.
                </p>
                <img src="assets/logos/Gitter.png" width="200" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    <a href="https://gitter.im/">https://gitter.im/</a>
                </p>
            </section>
            <section>
                <h3>The official <a href="https://gitter.im/bkimminich/juice-shop">Gitter chatroom of Juice-Shop</a></h3>
                <img src="assets/screenshots/gitter01.png"/>
                <p>
                    <small>Disclaimer: Chatroom might appear more desolated on screenshot than in reality.</small>
                </p>
            </section>
            <section>
                <h3>Activity sidebar populated via WebHooks</h3>
                <img src="assets/screenshots/gitter02.png"/>
            </section>
            <section>
                <h3>GitHub-side of the Gitter-WebHook</h3>
                <img src="assets/screenshots/gitter03.png"/>
                <p>
                    <small>With granted repository access Gitter will setup its WebHook on GitHub automatically.</small>
                </p>
            </section>
        </section>

        <section>
            <section>
                <h2>One final takeaway</h2>
                <p>
                    If the services you are using offer <span style="background: rgba(103, 103, 103, 1)">&nbsp;status&nbsp;</span><span style="background: rgba(216, 100, 78, 1)">&nbsp;badges&nbsp;</span> for your <code>README.md</code>...
                </p>
                <br>
                <h1 class="fragment">
                    ...<span style="background: rgba(103, 103, 103, 1)">&nbsp;use&nbsp;</span><span style="background: rgba(215, 176, 38, 1)">&nbsp;them&nbsp;</span>...
                </h1>
                <br>
                <h3 class="fragment">
                    ...on <span style="background: rgba(103, 103, 103, 1)">&nbsp;every&nbsp;</span><span style="background: rgba(89, 199, 48, 1)">&nbsp;occasion&nbsp;</span>...
                </h3>
            </section>
            <section>
                <h2>...because they are <span style="background: rgba(103, 103, 103, 1)">&nbsp;just&nbsp;</span><span style="background: rgba(34, 136, 194, 1)">&nbsp;cool&nbsp;</span>!</h2>
                <img src="assets/screenshots/badges01.png" height="190"/>
                <img src="assets/screenshots/badges02.png" height="190"/>
            </section>
        </section>

        <section>
            <section>
                <h1>Merci de votre attention!</h1>
                <h3>by <span style="background: rgba(103, 103, 103, 1)">&nbsp;Youness&nbsp;</span><span style="background: rgba(244, 129, 66, 1)">&nbsp;Houdass&nbsp;</span> / houdass.com</h3>
            </section>
            <section>
                <h1>Q&amp;A</h1>
                <img src="assets/angular/6.gif" width="400" style="background: none; border:none; box-shadow:none;"/>
            </section>
        </section>

    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme || 'night', // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        parallaxBackgroundImage: 'assets/starfield_paralax.jpg',
        parallaxBackgroundSize: '1500px 1000px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

<script src="js/raphael-min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/sequence-diagram-min.js"></script>

<script>
    var webHooksDiagram = Diagram.parse(
            "participant User\n" +
            "Provider->GitHub: Register OAuth Application (optional)\n" +
            "GitHub-->Provider: Client ID & Secret\n" +
            "User->Provider: Request WebHook URI\n" +
            "Provider-->User:\n" +
            "User->GitHub: Add WebHook\n" +
            "GitHub->Provider: Call WebHook\n" +
            "Provider-->User: Provide Service\n"
    );
    webHooksDiagram.drawSVG("webHooksDiagram", {theme: 'hand'});

    var serviceHooksDiagram = Diagram.parse(
            "participant User\n" +
            "Provider->GitHub: Develop Service Hook\n" +
            "User->Provider: Request Access Key (optional)\n" +
            "Provider-->User:\n" +
            "User->GitHub: Configure Service Hook\n" +
            "GitHub->Provider: Call Service Hook\n" +
            "Provider-->User: Provide Service\n"
    );
    serviceHooksDiagram.drawSVG("serviceHooksDiagram", {theme: 'hand'});

    var accountIntegrationDiagram = Diagram.parse(
            "participant User\n" +
            "User->Provider: Configure Service\n" +
            "Provider->GitHub: Request Access\n" +
            "GitHub->User:\n" +
            "User-->GitHub:\n" +
            "GitHub-->Provider: Grant Access\n" +
            "Provider->GitHub: Configure Service- or WebHook\n" +
            "GitHub->Provider: Call Hook\n" +
            "Provider-->User: Provide Service\n"
    );
    accountIntegrationDiagram.drawSVG("accountIntegrationDiagram", {theme: 'hand'});

    var serviceChainDiagram = Diagram.parse(
            "participant User\n" +
            "participant PAAS Provider\n" +
            "participant QA Provider\n" +
            "participant CI Provider\n" +
            "GitHub->CI Provider: Trigger Build\n" +
            "CI Provider->QA Provider: Static Analysis\n" +
            "QA Provider-->User: Send Results\n" +
            "CI Provider->PAAS Provider: Deploy\n" +
            "PAAS Provider-->User: Running Instance\n"
    );
    serviceChainDiagram.drawSVG("serviceChainDiagram", {theme: 'hand'});

</script>

<div class="hidden-mobile">
    <div style="display: block; position: absolute; bottom: 14px; left: 50%; margin-left: -230px; z-index: 20;">
        <a href="https://twitter.com/bkimminich" class="twitter-follow-button" data-show-count="false">Follow @bkimminich</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://github-service-universe.kimminich.de" data-text="Exploring the @GitHub Service Universe (presented at @JavaLandConf and @Clean_Code_Days 2015)" data-via="bkimminich">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <iframe src="https://ghbtns.com/github-btn.html?user=bkimminich&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <iframe src="https://ghbtns.com/github-btn.html?user=bkimminich&repo=github-service-universe&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>
</div>


</body>
</html>
