<!doctype html>
<!--suppress CheckImageSize -->
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Présentation Angular</title>

    <meta name="description" content="Exploring the GitHub Service Universe">
    <meta name="author" content="Bjoern Kimminich">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">
    <link rel="stylesheet" href="css/custom.css">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <style>
        .text-warning {
            color: #e7ad52 !important;
        }
        .text-info {
            color: #24c672 !important;
        }
        .text-left {
            text-align: left;
        }
    </style>

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if( window.location.search.match( /print-pdf/gi ) ) {
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'css/print/pdf.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        }
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <img src="assets/angular/angular.png" class="heart" width="200"
                 style="background: none; border:none; box-shadow:none;"/>

            <h1>Angular</h1>
            <p>
                <small>Presented by: <a href="http://houdass.com">Youness Houdass</a></small>
            </p>
            <p>
                <small>Email: Houd.youness@gmail.com</small>
            </p>
            <p>
                <a href="http://angular.io/">http://angular.io/</a>
            </p>
        </section>
        <!-- I- Introduction -->
        <section>
            <section>
                <h1 class="text-warning">I- Introduction</h1>
            </section>
        </section>

        <!-- I- 1. What is Angular? -->
        <section>
            <section>
                <h3>I- 1. What is Angular?</h3>
                <img src="assets/angular/jimcarrey.gif" width="500"/>
            </section>
            <section>
                <p class="text-left">Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations, Angular is a complete rewrite from the same team that built AngularJS.</p>
            </section>
            <section>
                <p>It is one of the most popular JavaScript frameworks, that developers use to build dynamic websites.</p>
            </section>
            <section>
                <p>It is an open-source software engineering framework used for building SPAs (single page application).</p>
            </section>
        </section>

        <!-- I- 2. AngularJS vs. Angular2+ -->
        <section>
            <section>
                <h3>I- 2. AngularJS vs. Angular2+</h3>
                <img src="assets/angular/angularvsangularjs.gif" width="500"/>
            </section>
            <section>
                <p>Originally, the rewrite of <strong>AngularJS</strong> was called <strong>Angular 2</strong> by the team, but this led to confusion among developers. To clarify, the team announced that separate terms should be used for each framework with <strong>AngularJS</strong> referring to the 1.X versions and <strong>Angular</strong> without the <strong>JS</strong> referring to versions 2 and up.</p>
                <img src="assets/angular/1.gif" width="500"/>
            </section>
            <section>
                <h3>Beneficts</h3>
                <ul>
                    <li>Extensive documentation</li>
                    <li>Testing</li>
                    <li>Mobile and desktop compatibility</li>
                    <li>Increase performance</li>
                    <li>Increased modularity / more expressive code</li>
                    <li>New web standards</li>
                    <li>Full-featured & powerful</li>
                    <li>Elegent programming style & patterns</li>
                    <li>Rich package ecosystem</li>
                </ul>
            </section>
        </section>

        <!-- I- 3. Setup projet -->
        <section>
            <section>
                <h3>I- 3. Setup projet</h3>
            </section>
            <section>
                <p>
                    Check: <a hred="https://wiki.sicpa.com/display/WDC/Getting+Started+for+Angular" style="cursor: pointer;">Angular: Getting started</a>
                </p>
            </section>
            <section>
                <p>
                <ul>
                    <li>npm i -g @angular/cli</li>
                    <li>ng new my-sicpa-app</li>
                    <li>ng new my-sicpa-app</li>
                    <li>cd my-dream-app</li>
                    <li>ng serve</li>
                </ul>
                </p>
            </section>
        </section>

        <!-- I- 4. Angular CLI -->
        <section>
            <section>
                <h3>I- 4. Angular CLI</h3>
            </section>
            <section>
                <img src="assets/angular/6.svg" width="400" style="background: none; border:none; box-shadow:none;"/>
                <p>
                    The <strong>CLI</strong> is a geart tool for big and very big Angular projects! It allows to focus on Angular code
                    instead of workflow tasks.
                </p>
            </section>
            <section>
                <p>
                    The <strong>Angular CLI</strong> makes it easy to create an application that already works, right out of the box. It already follows the best practices!
                </p>
            </section>
            <section>
                <p>
                    You can also generate components, routes, services and pipes ... etc, with a simple command. The CLI will also create simple test shells for all of these.
                </p>
            </section>
        </section>

        <!-- I- 5. sicpa-ng-schematics -->
        <section>
            <section>
                <h3>I- 5. sicpa-ng-schematics</h3>
            </section>
            <section>
                <p>
                    Check: <a href="http://psdgit.sicpa-net.ads/projects/WDT/repos/sicpa-ng-schematics/browse" target="_blank">Sicpa NG Schematics</a>
                </p>
            </section>
        </section>

        <!-- II- Fundamentals -->
        <section>
            <h1 class="text-warning">II- Fundamentals</h1>
        </section>

        <!-- II- 1. How an Angular App gets Loaded and Started? -->
        <section>
            <h3>II- 1. How an Angular App gets Loaded and Started?</h3>
        </section>

        <!-- II- 2. Components are Important! -->
        <section>
            <h3>II- 2. Components are Important!</h3>
            <img src="assets/angular/4.png" width="500" style="background: none; border:none; box-shadow:none;"/>
        </section>

        <!-- II- 3. Create a component -->
        <section>
            <h3>II- 3. Create a component</h3>
            <pre><code>ng generate component user
ng g c user</code></pre>
        </section>

        <!-- II- 4. Databinding -->
        <section>
            <section>
                <h3>II- 4. Databinding</h3>
                <img src="assets/angular/3.gif" width="400" style="background: none; border:none; box-shadow:none;"/>
            </section>
            <section>
                <h3>II- 4. a. String interpolation</h3>
                <ul>
                    <li>The text between the braces is often the name of a component property. Angular replaces that name with the string value of the corresponding component property.</li>
                    <li>String interpolation is used to print/output dynamic data on HTML templates</li>
                </ul>
                <pre><code>{{ data }}</code></pre>
            </section>
            <section>
                <h3>II- 4. b. Property binding</h3>
                <ul>
                    <li>Property binding is used to pass data from the component class (component.ts) and setting the value of the given element in the user-end (component.html)</li>
                    <li>Property binding is an example of one-way databinding where the data is transferred from the component to the class</li>
                    <li>The main advantage of property binding is that it facilitates you to control elements property</li>
                    <li>It's weird at first, but it's actually valid HTML. An HTML attribute name can start with anything, except for a few characters such as a quotation mark, an apostrophe, a slash, an equals, a space ... Interpolation {{ name }} is just syntactic sugar for the following line:
                        <pre><code><span [text&#67;ontent]="name"></span></code></pre>
                    </li>
                </ul>
                <pre><code><button [disabled]="isDisabled">...</button>
<button bind-disabled="isDisabled">...</button></code></pre>
            </section>
            <section>
                <h3>Attribute/class/style binding</h3>
                <p class="text-left">Property binding can be used with diffrent forms:</p>
                <p class="text-left">Attribute binding <pre><code><table><td [attr.colspan]="clspn">...</td></table></code></pre></p>
                <p class="text-left">Class binding <pre><code><span [class.active]="isActive">Some text</span></code></pre>
                <p class="text">Style binding <pre><code><span [style.background-color]="'blue'">Blue text</span></code></pre></p>
                <p class="text">Or, <pre><code><span [style.background&#67;olor]="'blue'">Blue text</span></code></pre></p>
            </section>
            <section>
                <h3>II- 4. c. Event binding</h3>
                <p>Angular facilitates us to bind the events along with the methods, this process is known as event binding. Event binding is used with parenthesis ()</p>
                <pre><code><button (click)="handleClick()"></button>
<button on-click="handleClick()"></button></code></pre>
                <p>You can even make event binding to specific keys and events</p>
                <pre><code><button on-click="callback()">Click</button></code></pre>
                <p>More examples:</p>
                <img src="assets/angular/eventbindings.png" width="400" style="background: none; border:none; box-shadow:none;"/>
            </section>
            <section>
                <h3>II- 4. d. Two way binding</h3>
                <p>(Banana in the box)</p>
                <p>In two-way databinding, automatic synchronization of data happens between the Model and the View. Here, change is reflected in both components. Whenever you make changes in the Model, it will be reflected in the View and when you make changes in View, it will be reflected in Model</p>
                <pre><code><input name="name" [(ng&#77;odel)]="user.name">
<input name="name" [ng&#77;odel]="user.name" (ng&#77;odel&#67;hange)="user.name = $event"></code></pre>
            </section>
        </section>

        <!-- II- 5. Understanding Directives -->
        <section>
            <h3>II- 5. Understanding Directives</h3>
            <p class="text-left">Directives are components without a view, they are components without a template, Or to put it another way, components are directives with a view.</p>
            <p class="text-left">There are two types of directives in Angular:</p>
            <ul>
                <li><strong>Structural Directives</strong> are directives which change the structure of the DOM by adding or removing elements. There are three built in structural directives, <strong>NgIf, NgFor and NgSwitch.</strong></p></li>
                <li><strong>Attribute Directives</strong> are used to change the look and behavior of the DOM elements. For example: <strong>ngClass, ngStyle etc.</strong></p></li>
            </ul>
        </section>

        <!-- II- 6. *ngIf & *ngFor & ngSwitch -->
        <section>
            <section><h3>II- 6. *ngIf & *ngFor & ngSwitch</h3></section>
            <section>
                <h3>II- 6. a. *ngIf </h3>
                <p>
                    <img src="assets/angular/ifelse.png" width="500" style="background: none; border:none; box-shadow:none;"/>
                <p>For more consistance</p>
                <img src="assets/angular/ifelse2.png" width="500" style="background: none; border:none; box-shadow:none;"/>
                </p>

            </section>
            <section>
                <h3>II- 6. b. *ngFor </h3>
                <pre><code><div *ngfor="let item of items; let i = index">{{ i }} - {{ item }}</div></code></pre>
                <p>Or, </p>
                <pre><code><p *ngfor="let item of items; index as i">{{ i }} - {{ item }}</p></code></pre>
            </section>
            <section>
                <h3>II- 6. c. ngSwitch </h3>
                <img src="assets/angular/ngswitch.png" width="500" style="background: none; border:none; box-shadow:none;"/>
            </section>
        </section>

        <!-- II- 7. ngClass & ngStyle -->
        <section>
            <section><h3>II- 7. ngClass & ngStyle</h3></section>
            <section>
                <h4>II- 7. a. ngClass </h4>
                <ul>
                    <li>using stringExp
                        <pre><code><span [ng&#67;lass]="'dodgerblue large'">Some text</span></code></pre>
                    </li>
                    <li>using arrayExp
                        <pre><code><span [ng&#67;lass]="['dodgerblue', 'italic']">Some text</span></code></pre>
                    </li>
                    <li>using objExp
                        <pre><code><span [ng&#67;lass]="{dodgerblue: true, large: true, italic: false}">Some Text</span></code></pre>
                    </li>
                    <li>using conditional stringExp
                        <pre><code><span [ng&#67;lass]="{'dodgerblue large italic': true}">Some text</span></code></pre>
                    </li>
                </ul>
            </section>
            <section>
                <h4>II- 7. b. ngStyle </h4>
                <pre><code><span [ng&#83;tyle]="{'background-color':'green'}"></span></code></pre>
                <pre><code><p [ng&#83;tyle]="{'background-color': person.country === 'UK' ? 'green' : 'red' }"></p></code></pre>
            </section>
        </section>

        <!-- II- 8. Debugging -->
        <section>
            <section>
                <h3>II- 8. Debugging</h3>
                <p><a href="https://augury.rangle.io/" target="_blank">Augury</a></p>
            </section>
        </section>

        <!-- III- Components -->
        <section>
            <section>
                <h1 class="text-warning">III- Components</h1>
            </section>
        </section>

        <!-- III- 1. template/templateUrl -->
        <section>
            <section>
                <h3>III- 1. template/templateUrl</h3>
            </section>
        </section>

        <!-- III- 2. selectors -->
        <section>
            <section>
                <h3>III- 2. selectors</h3>
            </section>
            <section>
                <p>
                    selector: 'app-users'
                <pre><code><app-users></app-users></code></pre>
                </p>
                <p>
                    selector: '.app-users'
                <pre><code><div class="app-users"></div></code></pre>
                </p>
                <p>
                    selector: '[app-users]'
                <pre><code>&#60;&#100;&#105;&#118;&#32;&#97;&#112;&#112;&#45;&#117;&#115;&#101;&#114;&#115;&#62;&#60;&#47;&#100;&#105;&#118;&#62;</code></pre>
                </p>
            </section>
        </section>

        <!-- III- 3. styles/styleUrls -->
        <section>
            <section>
                <h3>III- 3. styles/styleUrls</h3>
            </section>
        </section>

        <!-- III- 4. @Input -->
        <section>
            <section>
                <h3>III- 4. @Input</h3>
            </section>
        </section>

        <!-- III- 5. @Output -->
        <section>
            <section>
                <h3>III- 5. @Output</h3>
                <p class="text-left">@Input is used to pass data from parent to child and the opposite, @Output, can be used when you want to pass data from the child to the parent.</p>
                <img src="assets/angular/7.png" width="400" style="background: none; border:none; box-shadow:none;"/>
            </section>
        </section>

        <!-- III- 6. Encapsulation -->
        <section>
            <h3>III- 6. Encapsulation</h3>
            <ul>
                <li>
                    <span class="text-info"><strong>encapsulation: ViewEncapsulation.Emulated</strong></span> Emulate Native scoping of styles by adding an attribute containing surrogate id to the Host Element and pre-processing the style rules provided via styles or styleUrls, and adding the new Host Element attribute to all selectors. This is the default option.
                </li>
                <li>
                    <span class="text-info"><strong>encapsulation: ViewEncapsulation.Native</strong></span> Use Shadow DOM to encapsulate styles.
                </li>
                <li>
                    <span class="text-info"><strong>encapsulation: ViewEncapsulation.None</strong></span> Don't provide any template or style encapsulation.
                </li>
            </ul>
        </section>

        <!-- III- 7. Template reference variables -->
        <section>
            <h3>III- 7. Template reference variables</h3>
            <p>A template reference variable is often a reference to a DOM element within a template. It can also be a reference to an Angular component or directive or a web component (Read more at Angular.io). That means you can easily access the variable anywhere in the template.
                You declare a reference variable by using the hash symbol (#) or the (ref-) synthax, e.g : #var or ref-var.</p>
        </section>

        <!-- III- 8. @ViewChild -->
        <section>
            <h3>III- 8. @ViewChild </h3>
            <p>Want to get access to a child component, directive or a DOM element from a parent component class? It’s easy to do with the ViewChild decorator. ViewChild returns the first element that matches a given component, directive or template reference selector. In cases where you’d want to access multiple children, you’d use ViewChildren instead.</p>
        </section>

        <!-- III- 9. @ContentChild -->
        <section>
            <h3>III- 9. @ContentChild </h3>
            <p>Includes only elements that exists within the ng-content tag.</p>
        </section>

        <!-- III- 10. Lifecycle Hooks -->
        <section>
            <section>
                <h3>III- 10. Lifecycle Hooks</h3>
                <ul>
                    <li>A component has a lifecycle managed by Angular.</li>
                    <li>Angular creates and renders components along with their children, checks when their data-bound properties change, and destroys them before removing them from the DOM.</li>
                    <li>Angular offers lifecycle hooks that provide visibility into these key life moments and the ability to act when they occur.</li>
                </ul>
                <img src="assets/angular/8.png" width="300" style="background: none; border:none; box-shadow:none;"/>
            </section>
            <section>
                <h4>III- 10. a. ngOnChanges</h4>
                <p class="text-left">
                    Respond when Angular (re)sets data-bound input properties. The method receives a SimpleChanges object of current and previous property values.
                    <br>
                    Called before <span class="text-info">ngOnInit()</span> and whenever one or more data-bound input properties change.
                </p>
            </section>
            <section>
                <h4>III- 10. b.ngOnInit</h4>
                <p class="text-left">Initialize the directive/component after Angular first displays the data-bound properties and sets the directive/component's input properties.
                    <br>
                    Called once, after the first <span class="text-info">ngOnChanges()</span>.
                </p>
            </section>
            <section>
                <h4>III- 10. c. ngDoCheck</h4>
                <p class="text-left">Detect and act upon changes that Angular can't or won't detect on its own. <br>Called during every change detection run, immediately after <span class="text-info">ngOnChanges</span>  and <span class="text-info">ngOnInit</span>.</p>
            </section>
            <section>
                <h4>III- 10. d. ngAfterContentInit</h4>
                <p class="text-left">Respond after Angular projects external content into the component's view / the view that a directive is in.
                    <br>Called once after the first <span class="text-info">ngDoCheck()</span>.</p>
            </section>
            <section>
                <h4>III- 10. e. ngAfterContentChecked</h4>
                <p class="text-left">Respond after Angular checks the content projected into the directive/component.
                    <br>
                    Called after the <span class="text-info">ngAfterContentInit()</span> and every subsequent <span class="text-info">ngDoCheck()</span>.</p>
            </section>
            <section>
                <h4>III- 10. f. ngAfterViewInit</h4>
                <p class="text-left">Respond after Angular initializes the component's views and child views / the view that a directive is in.<br>
                    Called once after the first <span class="text-info">ngAfterContentChecked</span>.</p>
            </section>
            <section>
                <h4>III- 10. g. ngAfterViewChecked</h4>
                <p class="text-left">Respond after Angular checks the component's views and child views / the view that a directive is in.
                    <br>
                    Called after the <span class="text-info">ngAfterViewInit()</span> and every subsequent <span class="text-info">ngAfterContentChecked()</span>.</p>
            </section>
            <section>
                <h4>III- 10. h.ngOnDestroy</h4>
                <p class="text-left">Cleanup just before Angular destroys the directive/component. Unsubscribe Observables and detach event handlers to avoid memory leaks.
                    <br>Called just before Angular destroys the directive/component.</p>
            </section>
        </section>

        <!-- IV- Directives -->
        <section>
            <section>
                <h1 class="text-warning">IV- Directives</h1>
            </section>
            <section>
                <h3>IV- 1. ElementRef</h3>
                <pre><code>&#60;&#112;&#32;&#97;&#112;&#112;&#66;&#97;&#115;&#105;&#99;&#72;&#105;&#103;&#104;&#108;&#105;&#103;&#104;&#116;&#62;&#65;&#112;&#112;&#32;&#66;&#97;&#115;&#105;&#99;&#32;&#72;&#105;&#103;&#104;&#108;&#105;&#103;&#104;&#116;&#32;&#69;&#120;&#97;&#109;&#112;&#108;&#101;&#60;&#47;&#112;&#62;</code></pre>
                <pre><code>constructor(private elementRef: ElementRef) {}</code></pre>
                <pre><code>ngOnInit() {
    this.elementRef.nativeElement.style.backgroundColor = 'green';
}</code></pre>
            </section>
            <section>
                <h3>IV- 2. Renderer</h3>
                <pre><code>constructor(private elRef: ElementRef, private renderer: Renderer2) {}</code></pre>
                <pre><code>ngOnInit() {
    this.renderer.setStyle(this.elRef.nativeElement, 'backgroundColor', 'blue');
}</code></pre>
            </section>
            <section>
                <h3>IV- 3. @HostBinding</h3>
                <pre><code>@HostBinding('style.backgroundColor') backgroundColor;</code></pre>
                <pre><code>ngOnInit() { this.backgroundColor = 'blue'; }</code></pre>
            </section>
            <section>
                <h3>IV- 4. @HostListener</h3>
                <pre><code>@HostListener('mouseenter') mouseenter(eventData: Event) {
    this.backgroundColor = this.highlightColor;
}</code></pre>
            </section>
            <section>
                <h3>IV- 5. @Input</h3>
                <pre><code>@Input() highlightColor = 'transparent';</code></pre>
                <pre><code>&#60;&#112;&#32;&#97;&#112;&#112;&#66;&#101;&#116;&#116;&#101;&#114;&#72;&#105;&#103;&#104;&#108;&#105;&#103;&#104;&#116;&#32;&#91;&#104;&#105;&#103;&#104;&#108;&#105;&#103;&#104;&#116;&#67;&#111;&#108;&#111;&#114;&#93;&#61;&#34;&#39;&#98;&#108;&#117;&#101;&#39;&#34;&#62;&#72;&#105;&#103;&#104;&#108;&#105;&#103;&#104;&#116;&#32;&#68;&#105;&#114;&#101;&#99;&#116;&#105;&#118;&#101;&#60;&#47;&#112;&#62;</code></pre>
                <p>Or,</p>
                <pre><code>&#60;&#112;&#32;&#97;&#112;&#112;&#66;&#101;&#116;&#116;&#101;&#114;&#72;&#105;&#103;&#104;&#108;&#105;&#103;&#104;&#116;&#32;&#104;&#105;&#103;&#104;&#108;&#105;&#103;&#104;&#116;&#67;&#111;&#108;&#111;&#114;&#61;&#34;&#98;&#108;&#117;&#101;&#34;&#62;&#72;&#105;&#103;&#104;&#108;&#105;&#103;&#104;&#116;&#32;&#68;&#105;&#114;&#101;&#99;&#116;&#105;&#118;&#101;&#60;&#47;&#112;&#62;</code></pre>
            </section>
        </section>

        <!-- V- Services & Dependency Injection -->
        <section>
            <section>
                <h1 class="text-warning">V- Services & Dependency Injection</h1>
            </section>
            <section>
                <h3>V- 1. Introduction</h3>
                <p>
                    Components shouldn't fetch or save data directly and they certainly shouldn't knowingly present
                    fake data. They should focus on presenting data and delegate data access to a service.
                </p>
            </section>
            <section>
                <h3>V- 2. @Injectable</h3>
                <p>@Injectable() lets Angular know that a class can be used with the dependency injector.</p>
            </section>
            <section>
                <h3>V- 3. Providers</h3>
            </section>
            <section>
                <h3>V- 4. @Inject</h3>
                <p>@Inject() is a manual mechanism for letting Angular know that a parameter must be injected.</p>
            </section>
            <section>
                <h3>V- 5. @ProvidedIn</h3>
            </section>
            <section>
                <h3>V- 6. UseClass, UseFactory, UseValue & UseExisting</h3>
            </section>
        </section>

        <!-- VI- Routing -->
        <section>
            <section>
                <h1 class="text-warning">VI- Routing</h1>
            </section>
            <!-- VI- 1- Introduction -->
            <section>
                <h3>VI- 1- Introduction</h3>
                <div>The Angular router enables you to show different components and data to the user based on where the user is in the application. The router enables navigation from one view to the next as users perform application tasks:
                    <ul>
                        <li>Enter a URL in the address bar, and the browser navigates to a corresponding page.</li>
                        <li>Click links on the page, and the browser navigates to a new page.</li>
                        <li>Click the browser's back and forward buttons, and the browser navigates backward and forward through the history of pages you've seen.</li>
                    </ul>
                </div>
            </section>

            <!-- VI- 2- Setup des routes -->
            <section>
                <h3>VI- 2- Setup des routes</h3>
                <a href="https://guide-angular.wishtack.io/angular/routing/mise-en-place-du-routing" target="_blank">For more informations</a>
            </section>

            <!-- VI- 3- <router-outlet> -->
            <section>
                <h3>VI- 3- &lt;router-outlet&gt;</h3>
                <p>Acts as a placeholder that Angular dynamically fills based on the current router state.</p>
            </section>

            <!-- VI- 4- RouterLink, RouterLinkActive & RouterLinkActiveOptions -->
            <section>
                <h3>VI- 4- RouterLink, RouterLinkActive & RouterLinkActiveOptions</h3>
            </section>


            <!-- VI- 5- Comprendre les chemins de navigation -->
            <section>
                <h3>VI- 5- Understanding Navigation Paths</h3>
            </section>

            <!-- VI- 6- Navigating Programmatically (Typescript) -->
            <section>
                <h3>VI- 6- Navigating Programmatically (Typescript)</h3>
            </section>

            <!-- VI- 7- relativeTo -->
            <section>
                <h3>VI- 7- relativeTo</h3>
            </section>

            <!-- VI- 8- Pass & fetch parameters, des queryParams & fragments-->
            <section>
                <h3>VI- 8- Pass & fetch parameters, des queryParams & fragments</h3>
            </section>

            <!-- VI- 9- Children (Nested Routes) -->
            <section>
                <h3>VI- 9- Children (Nested Routes)</h3>
            </section>

            <!-- VI- 10- QueryParamsHandling -->
            <section>
                <h3>VI- 10- QueryParamsHandling</h3>
            </section>

            <!-- VI- 11- Redirection / Wildcard (**) -->
            <section>
                <h3>VI- 11- Redirection / Wildcard (**)</h3>
            </section>

            <!-- VI- 12- canActivate, canActivateChild & canDeactivate -->
            <section>
                <h3>VI- 12- canActivate, canActivateChild & canDeactivate</h3>
            </section>

            <!-- VI- 13- Static data (data) & Dynamic data (resolve) -->
            <section>
                <h3>VI- 13- Static data (data) & Dynamic data</h3>
            </section>
        </section>

        <!-- VII- RxJS -->
        <section>
            <section>
                <h1 class="text-warning">VII- RxJS</h1>
            </section>
            <!-- VII- 1- Introduction -->
            <section>
                <h3>VII- 1- Introduction</h3>
                <p><strong>RxJS</strong> is a library for reactive programming using Observables, to make it easier to compose asynchronous or callback-based code.</p>
            </section>

            <!-- VII- 2- Observable/Observer -->
            <section>
                <h3>VII- 2- Observable/Observer</h3>
                <p>An Observable sets up the observer and connects it to the "thing" we want to get values from. This "thing" is called a producer, and is a source of values, perhaps from a click or input event in the DOM. It could even be something more complex such as communication over HTTP.</p>
                <p>An Observable is an object that implements a .subscribe method that takes as parameter an Observer, which has the following form:</p>
                <pre><code>
const observer = {
  next: val => console.log(val), // a function to be performed at each new event
  error: err => console.error(err), // a function to execute in case of error
  complete: () => console.info('Complete!') // a function to execute when the observable has finished
};
                </code></pre>
            </section>

            <!-- VII- 3- Observable.create -->
            <section>
                <h3>VII- 3- Observable.create</h3>
            </section>

            <!-- VII- 4- Unsubscribe -->
            <section>
                <h3>VII- 4- Unsubscribe</h3>
            </section>

            <!-- VII- 5- Operators -->
            <section>
                <h3>VII- 5- Operators</h3>
            </section>

            <!-- VII- 6- Promise vs. Observable -->
            <section>
                <h3>VII- 6- Promise vs. Observable</h3>
            </section>

            <!-- VII- 7- Subject/BehaviorSubject -->
            <section>
                <h3>VII- 7- Subject/BehaviorSubject</h3>
            </section>
        </section>

        <!-- VIII- Pipes -->
        <section>
            <section>
                <h1 class="text-warning">VIII- Pipes</h1>
            </section>

            <!-- VIII- 1- Introduction -->
            <section>
                <h3>VIII- 1- Introduction</h3>
                <p>Pipes are a simple way to transform values in an Angular template</p>
            </section>

            <!-- VIII- 2- Parametrizing Pipes -->
            <section>
                <h3>VIII- 2- Parametrizing Pipes</h3>
            </section>

            <!-- VIII- 3- Creating a Custom Pipe -->
            <section>
                <h3>VIII- 3- Creating a Custom Pipe</h3>
            </section>

            <!-- VIII- 4- Pure/Impure -->
            <section>
                <h3>VIII- 4- Pure/Impure</h3>
            </section>
        </section>

        <!-- IX- Forms -->
        <section>
            <section>
                <h1 class="text-warning">IX- Forms</h1>
            </section>
            <!-- IX- 1- Template-Driven Form (TD) vs. Reactive Form -->
            <section>
                <h3>IX- 1- Template-Driven Form (TD) vs. Reactive Form</h3>
                <img src="assets/angular/tdvsreactive.png">
            </section>
        </section>

        <!-- IX- 2- Template-Driven Form -->
        <section>
            <!-- IX- 2- Template-Driven Form -->
            <section>
                <h2 class="text-info">IX- 2- Template-Driven Form</h2>
            </section>

            <!-- IX- 2- a- Setup Template-Driven Form -->
            <section>
                <h3>IX- 2- a- Setup Template-Driven Form</h3>
            </section>

            <!-- IX- 2- b- Form state -->
            <section>
                <h3>IX- 2- b- Form state</h3>
                <img src="assets/angular/controlstate.jpg">
            </section>

            <!-- IX- 2- c- Validation -->
            <section>
                <h3>IX- 2- c- Validation</h3>
            </section>

            <!-- IX- 2- d- Outputting validation error messages -->
            <section>
                <h3>IX- 2- d- Outputting validation error messages</h3>
            </section>

            <!-- IX- 2- e- Set default values with ngModel property binding -->
            <section>
                <h3>IX- 2- e- Set default values with ngModel property binding</h3>
            </section>

            <!-- IX- 2- f- ngGroupModel -->
            <section>
                <h3>IX- 2- f- ngGroupModel</h3>
            </section>

            <!-- IX- 2- g- setValue/patchValue -->
            <section>
                <h3>IX- 2- g- setValue/patchValue</h3>
            </section>

            <!-- IX- 2- h- Reset & Use the form -->
            <section>
                <h3>IX- 2- h- Reset & Use the form </h3>
            </section>
        </section>

        <!-- IX- 3- Reactive Form -->
        <section>
            <!-- IX- 3- Reactive Form -->
            <section>
                <h2 class="text-info">IX- 2- Reactive Form</h2>
            </section>

            <!-- IX- 3- a- Setup reactive form -->
            <section>
                <h3>IX- 2- a- Setup reactive form</h3>
            </section>

            <!-- IX- 3- b- Syncing HTML with the Form -->
            <section>
                <h3>IX- 2- b- Syncing HTML with the Form</h3>
            </section>

            <!-- IX- 3- c- Validation -->
            <section>
                <h3>IX- 3- c- Validation</h3>
            </section>

            <!-- IX- 3- d- Getting access to controls -->
            <section>
                <h3>IX- 3- d- Getting Access to controls</h3>
            </section>

            <!-- IX- 3- e- Reactive grouping controls -->
            <section>
                <h3>IX- 3- e- Reactive grouping controls</h3>
            </section>

            <!-- IX- 3- f- Custom Async validators -->
            <section>
                <h3>IX- 3- f- Custom Async validators</h3>
            </section>
        </section>

        <!-- X- Http & Firebase -->
        <section>
            <section>
                <h1 class="text-warning">X- Http & Firebase</h1>
            </section>-->

            <!-- X- 1- HttpClient & Http verbs -->
            <section>
                <section>
                    <h3>X- 1- HttpClient & Http verbs </h3>
                    Check: <a href="https://www.positronx.io/angular-7-httpclient-http-service/" target="_blank">HttpClient</a>
                </section>
            </section>

            <!-- X- 2- Interceptors -->
            <section>
                <section>
                    <h3>X- 2- Interceptors </h3>
                </section>
            </section>
        </section>

        <!-- XI- Modules -->
        <section>
            <section>
                <h1 class="text-warning">XI- Modules</h1>
            </section>
            <!-- X- 1- Introduction -->
            <section>
                <h3>X- 1- Introduction</h3>
            </section>

            <!-- XI- 2- Lazyload modules -->
            <section>
                <h3>XI- 2- Lazyload modules</h3>
            </section>

            <!-- XI- 3- Preloading Lazy Loaded Routes -->
            <section>
                <h3>XI- 3- Preloading Lazy Loaded Routes</h3>
            </section>

            <!-- XI- 4- JIT vs. AOT -->
            <section>
                <h3>XI- 4- JIT vs. AOT</h3>
                Check: <a href="https://blogs.infinitesquare.com/posts/web/angular-jit-vs-aot" target="_blank">JIT vs. AOT</a>
            </section>
        </section>

        <!-- XII- Deployment -->
        <section>
            <section>
                <h1 class="text-warning">XII- Deployment</h1>
            </section>

            <!-- XII- 1- Introduction -->
            <section>
                <h3>XII- 1- Introduction</h3>
            </section>

            <!-- XII- 2- Deploying an Angular App -->
            <section>
                <h3>XII- 2- Deploying an Angular App</h3>
                Check: <a href="https://medium.com/code-sketch/how-to-deploy-an-angular-7-app-to-github-pages-9427b609645f" target="_blank">How to deploy an Angular App</a>
            </section>
        </section>

        <!-- XIII- Unit Testing -->
        <section>
            <section>
                <h1 class="text-warning">XIII- Unit Testing</h1>
            </section>

            <!-- XIII- 1- Introduction -->
            <section>
                <h3>XIII- 1- Introduction</h3>
            </section>

            <!-- XIII- 2- TP -->
            <section>
                <h3>XIII- 2- Tutorial</h3>
                Check: <a href="https://github.com/houdass/ng-test" target="_blank">Demo</a>
            </section>
        </section>

        <!-- VII- ngStore -->
        <section>
            <section>
                <h1 class="text-warning">ngStore</h1>
            </section>
            <section>
                <h3>VII- 1- Introduction</h3>
                <p>ngStore is RxJS powered state management for Angular applications, inspired by Redux.</p>
            </section>
            <section>
                <h3>VII- 2- Implementations</h3>
                <ul>
                    <li>@ngrx/store</li>
                    <li>ng2-redux</li>
                    <li>@angular-redux/store...</li>
                </ul>
            </section>
            <section>
                <h3>VII- 3- Getting Started</h3>
                <pre><code>npm i -S @ngrx/store</code></pre>
            </section>
            <section>
                <h3>VII- 4- Reducers</h3>
                <p class="text-left">Pure functions called reducers take the previous state and the next action to compute the new
                    state.</p>
                <p class="text-left">Reducers specify how the application's state changes in response to actions sent to the store.</p>
            </section>
            <section>
                <h3>VII- 5- Actions</h3>
                <p class="text-left">Actions describe state changes</p>
                <p class="text-left">Remember that actions only describe what happened, but don't describe how the application's state changes.
                </p>
            </section>
            <section>
                <h3>VII- 6- Store Devtools</h3>
                <p>@ngrx/store-devtools instruments your store letting you use a powerful time-travelling debugger</p>
                <pre><code>npm i -S @ngrx/store-devtools</code></pre>
            </section>
            <section>
                <h3>VII- 7- Entity</h3>
                <p>@ngrx/entity provides an API to manipulate and query entity collections</p>
                <pre><code>npm i -S @ngrx/entity</code></pre>
            </section>
            <section>
                <h3>VII- 8- Router</h3>
                <p>Keeps the state of @angular/router in your store</p>
                <pre><code>npm i -S @ngrx/router-store</code></pre>
            </section>
            <section>
                <h3>VII- 9- Effects</h3>
                <p>Isolates side effects from your UI by expressing side effects as sources of actions</p>
                <pre><code>npm i -S @ngrx/effects</code></pre>
            </section>
            <section>
                <h3>VII- 10- NgRx Schematics</h3>
                <ul>
                    <li><pre><code>ng config cli.defaultCollection @ngrx/schematics</code></pre></li>
                    <li><pre><code>npm i -D @ngrx/schematics</code></pre></li>
                    <li><pre><code>ng generate entity --name User --module somewhere/somewhere.module.ts</code></pre></li>
                    <li><pre><code>https://github.com/ngrx/platform/tree/master/docs/</code></pre></li>
                </ul>
            </section>
            <section>
                <h3>VII- 11- Dependencies</h3>
                <pre><code>npm i @ngrx/{store,effects,entity,store-devtools} -S</code></pre>
            </section>
        </section>
    </div>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme || 'night', // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        parallaxBackgroundImage: 'assets/starfield_paralax.jpg',
        parallaxBackgroundSize: '1500px 1000px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

<script src="js/raphael-min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/sequence-diagram-min.js"></script>

<script>
    var webHooksDiagram = Diagram.parse(
            "participant User\n" +
            "Provider->GitHub: Register OAuth Application (optional)\n" +
            "GitHub-->Provider: Client ID & Secret\n" +
            "User->Provider: Request WebHook URI\n" +
            "Provider-->User:\n" +
            "User->GitHub: Add WebHook\n" +
            "GitHub->Provider: Call WebHook\n" +
            "Provider-->User: Provide Service\n"
    );
    webHooksDiagram.drawSVG("webHooksDiagram", {theme: 'hand'});

    var serviceHooksDiagram = Diagram.parse(
            "participant User\n" +
            "Provider->GitHub: Develop Service Hook\n" +
            "User->Provider: Request Access Key (optional)\n" +
            "Provider-->User:\n" +
            "User->GitHub: Configure Service Hook\n" +
            "GitHub->Provider: Call Service Hook\n" +
            "Provider-->User: Provide Service\n"
    );
    serviceHooksDiagram.drawSVG("serviceHooksDiagram", {theme: 'hand'});

    var accountIntegrationDiagram = Diagram.parse(
            "participant User\n" +
            "User->Provider: Configure Service\n" +
            "Provider->GitHub: Request Access\n" +
            "GitHub->User:\n" +
            "User-->GitHub:\n" +
            "GitHub-->Provider: Grant Access\n" +
            "Provider->GitHub: Configure Service- or WebHook\n" +
            "GitHub->Provider: Call Hook\n" +
            "Provider-->User: Provide Service\n"
    );
    accountIntegrationDiagram.drawSVG("accountIntegrationDiagram", {theme: 'hand'});

    var serviceChainDiagram = Diagram.parse(
            "participant User\n" +
            "participant PAAS Provider\n" +
            "participant QA Provider\n" +
            "participant CI Provider\n" +
            "GitHub->CI Provider: Trigger Build\n" +
            "CI Provider->QA Provider: Static Analysis\n" +
            "QA Provider-->User: Send Results\n" +
            "CI Provider->PAAS Provider: Deploy\n" +
            "PAAS Provider-->User: Running Instance\n"
    );
    serviceChainDiagram.drawSVG("serviceChainDiagram", {theme: 'hand'});
</script>
</body>
</html>
